* {
  margin: 0;
}

html,body {
  height: 100%;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #999;
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

header{
  background-color: rgb(172, 60, 147);
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  border-style: groove;
}
header .head img{
  border-style: groove;
}

nav{
  align-content: center;
  background-color: rgba(0, 0, 0, 0.33);
  font-size: 20px;
  text-align: center;

}
nav a{
  text-decoration: none;
  color:gainsboro;
  padding-left: 8px;
  padding-right: 10px;
}
nav a:hover{
  font-weight: bold;

}
nav a:active{
  background-color:black;
}

#HIGHLIGHTS{
  display: initial;
}
#DASHBOARD{
  display: none;
}
#AUDIO/VISUAL{
  display: none;
}
#ABOUT{
  display: none;
}
#CONTACT{
  display: none;
}

h1 {
  font-size: 3em;
  margin-top: 0.5em;
}

.sectors{
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: 3em;
  border-bottom: groove;
}

.sectors h2{
  color:black;
  background-color: rgba(255, 20, 145, 0.397);
  padding-left:.5em ;
}
.sectors p{
  background-color: rgba(231, 220, 220, 0.603);
max-width: 482px;
//font-weight: bolder;
font-size: medium;
padding-top: .5em;
padding-bottom: 1em;
padding-left: .5em;
padding-right: .5em;
text-align: justify;
}
.sectors fbox{
display:flex;
flex-wrap: wrap;
}

.sectors div .images:hover{


}


main {
  display: block;
  background-image: url("images/background.png");
  padding-top: 1em;
  padding-bottom: 3em;
  min-height: 85%;

}
article {
  width: 98%; 
  padding:.5em;
}

footer {
  border-style: groove;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.45);
  height: auto;
}
footer p{
  width: auto;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}




